body {
    color:rgb(68, 60, 60);
    line-height:1.5;
    font-family: 'Lora', serif;
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    color:rgb(68, 60, 60);
    text-align: center;
    margin-top: 0;
    padding-bottom: 18px;
    font-style: italic;
}

h4 {
    color:rgb(68, 60, 60);
    font-weight: bold;
    margin-top: 36px;
}

.photo{
    text-align: center;
    background-color: white;
    padding: 40px;
}

.photo img{
    border: 2px solid rgb(159, 129, 112);
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.intro{
    padding: 50px 15%;
    margin-bottom: 0;
    margin-top:20px
}

.intro h2 {
    text-align: left;
    font-style: italic;
    padding: 40px 0 0 0;
}

.myFooter{
    text-align: center;
    padding: 20px 0;
}


section {
    padding: 40px 15%;
    margin-bottom: 0;
}

.container-fluid{
    background-color:rgb(159, 129, 112);
}

.experience{
    background-color:rgb(202, 173, 155);
}

.strength{
    text-align: center;
    word-spacing: 30px;
    font-family: serif;
    padding: 0;
    margin: 10px;
}

.it{
    background-color: rgb(202, 173, 155);
}

.education{
    background-color:rgb(159, 129, 112);
}

