body {
    color:rgb(68, 60, 60);
    line-height:1.5;
    font-family: 'Lora', serif;
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    color:rgb(68, 60, 60);
    background-color:rgb(159, 129, 112);
    margin-top: 0;
}

h3 {
    color:rgb(68, 60, 60);
    font-weight: bold;
    margin-top: 36px;
}

.myHeader{
    text-align: center;
}

.myHeader img{
    border: 2px solid rgb(159, 129, 112);
    object-fit: cover;
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

.intro{
    background-color:rgb(159, 129, 112);
}

.myFooter{
    color:white;
    background-color:rgb(74, 44, 42);
    text-align: center;
    padding: 20px 0;
}

section {
    padding: 40px 15%;
    margin-bottom: 0;
}